.campoTexto label {
  display: block;
  font-size: 0.8rem;
  font-weight: 600;
  margin: 1rem 0 0.4rem 0;
}

.campoTexto input {
  background-color: #e5e6e9;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  font-size: 1rem;
  padding: 0.5rem;
  box-sizing: border-box;
}
