.menuItem{
	text-decoration: none;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	color: var(--cinza);
}

.menuItem span {
	margin-top: 10px;
	color: var(--preto);
}

.active {
	font-weight: 700;
	border-bottom: 0.35rem solid var(--azul);
	padding-bottom: 0;
}

.activeIcon {
	color: var(--azul);
}