.minhasVacinas {
  margin: 6.5rem 3rem;
}

.minhasVacinas h1 {
  margin-bottom: 1rem;
}

.minhasVacinasCabecalho {
  display: flex;
  flex-direction: column;
}

.linkAdicionar {
  align-self: flex-end;
  text-decoration: none;
  background-color: var(--azul);
  padding: 0.5rem;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
}

.linkAdicionar:hover {
  background-color: var(--azul-25);
}

.iconPlus {
  color: var(--branco);
  font-size: 1.5rem;
}

.temAqui{
  display: none;
}
.nadaAqui {
  display: flex;
  justify-content: center;
}

