.minhasVacinas {
  margin: 2.5rem 3rem;
  height: calc(100vh - 150px)
}

.minhasVacinas h1 {
  margin-bottom: 1rem;
}

.minhasVacinasCabecalho {
  display: flex;
  flex-direction: column;
}

.linkAdicionar {
  align-self: flex-end;
  text-decoration: none;
  background-color: var(--azul);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--branco);
  font-size: 1.5rem;
}

.linkAdicionar:hover {
  background-color: var(--azul-25);
}

.iconPlus {
  color: var(--branco);
  font-size: 1.5rem;
}

.temAqui{
  display: none;
}

.nadaAqui {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.semVacina {
  width: 21rem;
}

.semVacinaTexto {
  text-align: center;
}

.containerVacinas {
  padding-bottom: 8rem;
}

@media (min-width: 768px) {
  .containerVacinas {
    max-height: 41.75rem;
    overflow-y: auto;
    padding-right: 1rem;
    padding-bottom: 0;
  }
}