@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@media screen and (min-width: 1024px){
  .detalheContainer{
    display: flex;
    align-items: center;
    gap: 2.8125rem;
    width: 95%;
    margin: 2.25rem 0 auto ;
  }

  .detalheConteudo{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .detalheBotao{
    padding: 1rem 1.25rem 0.8rem 1.25rem;
    background-color: #00bfff;
    border: none;
    color: #fff;
    border-radius: 0.5rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    align-self: center;
    margin-top: 0.5rem;
  }


}