.containerVacinaCadastrada {
  border-bottom: 1px solid var(--cinza-claro);
}

.vacinaCadastradaCabecalho {
  display: flex;
  margin-top: 1.1rem;
  justify-content: space-between;
  align-items: flex-start;
}

.vacinaCadastradaCabecalho h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.conteudoCarteira {
  display: flex;
  margin-bottom: 1.1rem;
  gap: 1rem;
}

.carteira {
  display: none;
}

.carteiraAtiva {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.carteiraAtiva p {
  margin-top: 0.5rem;
}

.carteiraAcoes {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
}

.botaoAbrirFechar {
  border: none;
  background-color: white;
}

.carteiraAcoes {
  margin-block: 0.5rem;
}

.icon-edit,
.icon-trash {
  font-size: 1rem;
}

.icon-chevron-up,
.icon-chevron-down {
  font-size: 1.5rem;
}

.icon-edit,
.icon-chevron-up,
.icon-chevron-down {
  color: var(--cinza-claro);
}

.icon-trash {
  color: #f41c1c;
}

.escondido{
  display: none;
}

@media (min-width: 1023px) {
  .carteiraConteudoPrincipal {
    display: flex;
    justify-content: space-between;
  }

  .icon-edit,
  .icon-trash {
    font-size: 1.5rem;
    cursor: pointer;
  }
}
