.conteudo {
  flex-direction: column;
}

.conteudo h1 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.banner {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.cardSaibaMais {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 16px;
}

.vacinas {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-direction: column;
  max-width: 108.9375rem;
}

.saiba {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.saiba a {
  text-align: end;
  cursor: pointer;
  text-decoration: none;
  color: var(--cinza);
}

.vacinaLink {
  text-decoration: none;
  color: var(--preto);
}

.tipoVacina {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  max-width: 108.9375rem;
  width: 100%;
}

.categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.vacinaLink {
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

/* Media Screen */
@media screen and (min-width: 1060px) {
  .categorias {
    justify-content: space-between;
  }
}

/* extra large devices: 768 > */
@media screen and (min-width: 768px) {
  .conteudo h1 {
    font-size: 1.5rem;
  }

  .cardSaibaMais {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* large devices: 1023 > */
@media screen and (min-width: 1024px) {
  .cardSaibaMais {
    grid-template-columns: 1fr 1fr 1fr;
  }
}