.conteudo {
  flex-direction: column;
}

.conteudo h1 {
  font-weight: 700;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.banner {
  width: 100%;
  object-fit: cover;
  margin-bottom: 2rem;
}

.card-saiba-mais {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 16px;
}

.vacinas {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  flex-direction: column;
}

.saiba {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.saiba a {
  text-align: end;
  cursor: pointer;
  text-decoration: none;
  color: var(--cinza);
}

.vacina-link {
  text-decoration: none;
  color: var(--preto);
}

.tipo-vacina {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2rem;
}

/* Media Screen */
/* extra large devices: 768 > */
@media screen and (min-width: 768px) {
  .conteudo h1 {
    font-size: 1.5rem;
  }

  .card-saiba-mais {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

/* large devices: 1023 > */
@media screen and (min-width: 1024px) {
  .card-saiba-mais {
    grid-template-columns: 1fr 1fr 1fr;
  }
}